.background {
    background-color: #FFEEBB;
}

.header {
    background-color: #9AC5F4;
}

.nav-item >   a {
    color: inherit;
    text-decoration: none !important;
    font-weight: 500;
    font-size: medium;
}

#heroe {
        background: linear-gradient(300deg, #A7ECEE, #E5FDD1);
        background-size: 180% 180%;
        animation:  18s ease infinite;     
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }

#bootstrap {
    color: purple;
    

}

#Logout-btn {
    position: absolute;
    margin-left: 470px;
    height: 37px;
    border: transparent;
    border-radius: 8px;
    background-color:  white;
}

